[submodule "MLinQCbook22-NN"]
 	path = MLinQCbook22-SQM
 	url = https://github.com/dralgroup/MLinQCbook22-SQM.git
[submodule "MLinQCbook22-NN"]
	path = MLinQCbook22-NN
	url = https://github.com/dralgroup/MLinQCbook22-NN.git
[submodule "MLinQCbook22-KMs"]
	path = MLinQCbook22-KMs
	url = https://github.com/maxjr82/MLinQCbook22-KMs.git
[submodule "Bayesian-Inference"]
	path = Bayesian-Inference
	url = https://github.com/WeiLiangXMU/Bayesian-Inference.git
[submodule "MLinQCbook22-SQM"]
	path = MLinQCbook22-SQM
	url = https://github.com/dralgroup/MLinQCbook22-SQM
[submodule "MLinQCbook22-CH04"]
	path = MLinQCbook22-CH04
	url = https://github.com/bili0501/MLinQCbook22-CH04.git
[submodule "MLinQCbook22-delta"]
	path = MLinQCbook22-delta
	url = https://github.com/dralgroup/MLinQCbook22-delta.git
